body {
    margin: 0;
    padding: 0;
}

.container h1, p, small {
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.sign-up {
    background-color: rgb(46, 192, 46);
    border-color: rgb(46, 192, 46);
}

.sign-up:hover {
    background-color: rgb(61, 177, 61);
}

.btn-close:focus {
    box-shadow: none;
}

.logo-navbar {
    margin: 0;
    padding: 0;
}

.navbar-collapse {
    min-width: 770px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    line-height: 1.3;
    padding-bottom: 5px;
}

.dropdown-menu a:hover {
    background-color: #0b5ed7;
    color: white;
}

.row-date {
    font-size: 1rem;
    text-align: left;
    color: white;
    padding-left: 0 !important;
}

.row-data {
    background-color: #21252A;
    padding: 10px 0 10px 20px;
}

.row-source, .row-amount, .row-data-categories, .row-data-overview {
    color: white;
}

.row-amount {
    padding-right: 0;
}

.row-data-categories, .row-data-overview {
    background-color: #21252A;
    padding: 10px 0 10px 20px;
}

#incomeComment, #expenseComment {
    resize: none;
}