body {
    margin: 0;
    padding: 0;
}

.container h1,
p,
small {
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.sign-up {
    background-color: rgb(46, 192, 46);
    border-color: rgb(46, 192, 46);
}

.sign-up:hover {
    background-color: rgb(61, 177, 61) !important;
    border-color: rgb(46, 192, 46) !important;
}

.sign-up:focus,
.sign-up:active {
    background-color: rgb(46, 148, 46) !important;
    border-color: rgb(46, 192, 46) !important;
}

.btn-close:focus {
    box-shadow: none;
}

.logo-navbar {
    margin: 0;
    padding: 0;
}

.navbar-collapse {
    min-width: 770px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
    line-height: 1.3;
    padding-bottom: 5px;
}

.dropdown-menu a:hover {
    background-color: #0b5ed7;
    color: white;
}

.row-date {
    font-size: 1rem;
    text-align: left;
    color: white;
    padding-left: 0 !important;
}

.row-data {
    background-color: #21252A;
    padding: 10px 0 10px 20px;
}

.row-source,
.row-amount,
.row-data-categories,
.row-data-overview {
    color: white;
}

.row-data-limits {
    background-color: #21252A;
    padding: 10px 0 10px 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.row-amount {
    padding-right: 0;
}

.row-data-categories,
.row-data-overview {
    background-color: #21252A;
    padding: 10px 0 10px 0px;
}

#incomeComment,
#expenseComment {
    resize: none;
}

#showPassword,
#activateLimit,
#rememberMe {
    box-shadow: none;
    outline: none;
}

.forgotPassword {
    text-align: center;
}

.hCentered {
    text-align: center;
}

.btn-edit-profile {
    width: 100%;
}

.col-title {
    color: white;
}

.form-select {
    max-height: 200px;
    /* Set a maximum height if you want to limit the dropdown's size */
    overflow-y: auto;
    /* Enable vertical scrolling if the content overflows */
}

.form-select[data-bs-popper] {
    --bs-popper-placement: bottom !important;
}

.delete-dialog .ui-dialog-titlebar-close {
    display: none;
}

.custom-button {
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.custom-delete-button {
    background-color: #dc3545;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-delete-button:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.custom-cancel-button {
    background-color: #007bff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-cancel-button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.ui-dialog .ui-dialog-buttonpane button {
    outline: none;
}

.ui-dialog-titlebar {
    background-color: #2B3035;
    color: white;
}

.delete-dialog,
.ui-widget-content {
    background-color: #6c757d;
    border-width: 0;
    color: white;
}

.ui-dialog .ui-dialog-buttonpane {
    border-width: 0
}

.hideDiv {
    display: none;
}

.btn-secondary {
    background-color: #2B3035;
    color: white;
}

.btn.btn-secondary:hover {
    background-color: #282d31;
    color: white;
}

.btn.btn-secondary:active {
    background-color: #272b30;
    color: white;
}

.currentCategories {
    text-align: left;
    margin-left: 5px;
}

.moneyLeftPlus {
    color: rgb(46, 192, 46);
}

.moneyLeftMinus {
    color: rgb(255, 0, 0);
}