{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}

<main>
    <article>
        <div class="col-md-10 mx-auto col-lg-4 mt-5">
            <article>
                <h1 class="mb-3 hCentered">Edit profile</h1>
                {% if user.errors is not empty %}
                <ul>
                    {% for error in user.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="/settings/update"
                    id="formProfile">
                    <div class="form-floating" id="profileName">
                        <input type="text" class="form-control" id="floatingNameProfile" placeholder="Name" name="name"
                            autocomplete="on" value="{{ user.name }}" required>
                        <label for="floatingNameProfile">Name</label>
                    </div>
                    <div class="form-floating mt-3" id="profileEmail">
                        <input type="email" class="form-control" id="floatingEmailProfile"
                            placeholder="name@example.com" name="email" type="email" autocomplete="on"
                            value="{{ user.email }}" required>
                        <label for="floatingEmailProfile">Email address</label>
                    </div>
                    <div class="form-floating mt-3" id="profilePassword">
                        <input class="form-control" type="password" id="passwordProfile" name="password"
                            placeholder="Password" aria-describedby="helpBlock">
                        <label for="passwordProfile">Password</label>
                    </div>
                    <div>
                        <span class="help-block" id="helpBlock">Leave blank to keep current password</span>
                    </div>
                    <div class="form-check mt-2 mb-3">
                        <input class="form-check-input" type="checkbox" id="showPassword">
                        <label class="form-check-label" for="showPassword">
                            Show password
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
                </form>
            </article>
        </div>
    </article>
</main>

{% endblock %}

{% block footer %}

<script src="/js/validatePassword.js"></script>

<script>

$(document).ready(function () {

var userId = "{{ user.id }}";

// Validate form responsible for editing user profile
$("#formProfile").validate({
    rules: {
        name: "required",
        email: {
            required: true,
            email: true,
            remote: {
                url: "/account/validateEmail",
                data: {
                    ignoreId: function () {
                        return userId;
                    }
                }
            }
        },
        password: {
            minlength: 6,
            validPassword: true
        }
    },
    messages: {
        email: {
            remote: "Email already exists in database"
        }
    },
    errorPlacement: function (error, element) {
        if (element.attr("name") == "name")
            error.insertAfter("#profileName")
        else if (element.attr("name") == "email")
            error.insertAfter("#profileEmail")
        else if (element.attr("name") == "password")
            error.insertAfter("#profilePassword")
    }
});

$("#showPassword").on("click", function () {
    var passInput = $("#passwordProfile");
    if (passInput.attr("type") === "password") {
        passInput.attr("type", "text");
    } else {
        passInput.attr("type", "password");
    }
});

});

</script>

{% endblock %}